flows/Flow Teste.json
[
  {
    "id": "f6f2187d.f17ca8",
    "type": "tab",
    "label": "Flow Teste",
    "disabled": false,
    "info": "",
    "env": [
      {
        "name": "Key1",
        "value": "Key",
        "type": "str"
      }
    ]
  },
  {
    "id": "fb68f4952ee859d3",
    "type": "http in",
    "z": "f6f2187d.f17ca8",
    "name": "",
    "url": "/teste",
    "method": "get",
    "upload": false,
    "skipBodyParsing": false,
    "swaggerDoc": "",
    "x": 120,
    "y": 240,
    "wires": [
      [
        "28831bec9dcc3c28"
      ]
    ]
  },
  {
    "id": "28831bec9dcc3c28",
    "type": "change",
    "z": "f6f2187d.f17ca8",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "statusCode",
        "pt": "msg",
        "to": "209",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "payload.nome",
        "pt": "msg",
        "to": "Jose",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "payload.sobrenome",
        "pt": "msg",
        "to": "Augusto",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "payload.nome_completo",
        "pt": "msg",
        "to": "payload.nome & \" \" & payload.sobrenome ",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 360,
    "y": 240,
    "wires": [
      [
        "65cdd8a509f1a7b2"
      ]
    ]
  },
  {
    "id": "65cdd8a509f1a7b2",
    "type": "http response",
    "z": "f6f2187d.f17ca8",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 590,
    "y": 240,
    "wires": []
  },
  {
    "id": "86f84316d43d4d6d",
    "type": "http in",
    "z": "f6f2187d.f17ca8",
    "name": "",
    "url": "/teste",
    "method": "post",
    "upload": false,
    "skipBodyParsing": false,
    "swaggerDoc": "",
    "x": 130,
    "y": 380,
    "wires": [
      [
        "e4cb36bbfdf34b5c"
      ]
    ]
  },
  {
    "id": "e4cb36bbfdf34b5c",
    "type": "subflow:26071de6e653e72d",
    "z": "f6f2187d.f17ca8",
    "name": "",
    "x": 350,
    "y": 380,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "1251aa930e75fec2",
    "type": "http response",
    "z": "f6f2187d.f17ca8",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 550,
    "y": 440,
    "wires": []
  },
  {
    "id": "10e046afeba7eadb",
    "type": "catch",
    "z": "f6f2187d.f17ca8",
    "name": "",
    "scope": null,
    "uncaught": false,
    "x": 360,
    "y": 440,
    "wires": [
      [
        "1251aa930e75fec2"
      ]
    ]
  }
]